.icon {
  width: rem(24);
  max-width: rem(24);
  height: auto;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  color: inherit;
  pointer-events: none;

  // path {
  //   fill: currentColor;
  // }

  // circle {
  //   stroke: $dark-blue;
  // }

  // path {
  //   stroke: $dark-blue;
  // }
}
