.tooltip {
  &::after {
    content: attr(title);
    position: absolute;
    left: 100%;
    transition: opacity 0.5s cubic-bezier(.4,0,.2,1);
    top: 50%;
    background-color: #f7f7f7;
    padding: 4px;
    border-radius: 7px;
    opacity: 0;
    // width: 0;
    width: max-content;
    display: inline-block;
    transform: translateY(-50%);
    font-size: rem(12);
    font-weight: 500;
  }

  &:hover {
    &::after {
      opacity: 1;
      // width: 100px;
    }
  }
}