.drawer {
  $self: &;

  &--open {
    #{ $self }__toggler {
      left: $mobile-nav-width;
      background-color: $dark-blue;
      color: $warm-white;
    }
  }

  &__page {
    padding-left: $mobile-nav-width + rem(40);
    // margin-right: -($mobile-nav-width + rem(40));
    // overflow: hidden;
    // max-height: 100vh;
  }

  &__toggler {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: rem(6);
    transition: all 0.4s ease-in-out;

    &-icon {
      font-size: rem(44);
    }

    &--right {
      left: auto;
      right: 0;
    }
  }

  &__bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: $mobile-nav-width;
    overflow: hidden;
    z-index: z('navigation');
    transition: max-width 0.4s ease;

    &--right {
      left: auto;
      right: 0;
    }

    // #{ $self }--docked & {
    //   max-width: $docked-nav-width;
    // }
  }

  &__header {
    // display: none;
    // width: 0;
    background-color: $sidebar-bg;
    height: rem(56);
    text-align: right;
    padding: rem(20) rem(10);
    text-transform: uppercase;
    color: $warm-white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    transition: all 0.6s ease;
    opacity: 0;
    transform: translateX(-400px);
    width: 100%;

    &--visible {
      // display: block;
      // width: 100%;
      opacity: 1;
      transform: translateX(0);
    }

    // &--collapse
  }

  &__nav {
    background-color: $sidebar-bg;
    max-width: $docked-nav-width;
    width: 0;
    position: relative;
    padding: rem(60) 0 rem(20);
    height: 100%;
    overflow: hidden scroll;
    transform: translateX(-70px);
    transition: all 0.5s linear;

    &--open {
      max-width: $mobile-nav-width;
      transform: translateX(0);
      width: 100%;
    }

    #{ $self }--docked & {
      max-width: $docked-nav-width;
      transform: translateX(0);
      width: 100%;

      &:hover,
      &--open {
        max-width: $mobile-nav-width;
        transform: translateX(0);
        width: 100%;
      }
    }
  }

  &__list {
    // max-height: calc(100vh - 130px);
    // overflow-y: scroll;

    &--bottom {
      position: absolute;
      bottom: 0;

      @media screen and (max-height: 640px) {
        position: static;
      }
    }
  }

  &__item {
    position: relative;
    display: block;
    min-width: $mobile-nav-width;
    width: 100%;
    overflow: hidden;
    padding: rem(16) 0 0;

    &:hover {
      overflow: visible;
    }

    &--active {
      .drawer__icon,
      .drawer__text {
        color: $nav-hover-color;
      }
    }
  }

  &__button {
    // box-shadow: none;
    position: relative;
    // display: table;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    transform: translateZ(0) scale(1, 1);
    transition: all 0.4s linear;

    &:focus {

    }

    &:hover {
      #{$self}__icon,
      #{$self}__text {
        color: $nav-hover-color;
      }
    }
  }

  &__parent {
    &::after {
      content: "";
      // display: block;
      transition: transform 0.3s;
      border-right: 2px solid currentcolor;
      border-bottom: 2px solid currentcolor;
      width: 5px;
      height: 5px;
      transform: rotate(-45deg);
    }
  }

  &__pre {
    position: relative;
    // display: table-cell;
    vertical-align: middle;
    width: $docked-nav-width;
    height: rem(36);
  }

  &__icon {
    font-size: rem(24);
    width: rem(24);
    height: auto;
    // max-height: ;
    text-align: center;
    color: $white;
    transition: all 0.2s ease;
  }

  &__text {
    position: relative;
    // display: table-cell;
    vertical-align: middle;
    width: $mobile-nav-width - $docked-nav-width;
    text-align: left;
    padding-left: rem(20);
    font-size: rem(18);
    color: $white;
    // border-bottom: 1px solid $color-light-border;
    transition: all 0.2s ease;
  }

  &__flyout {
    background-color: $flyout-bg;
    position: fixed;
    right: 0;
    left: rem(62);
    bottom: 0;
    top: rem(62);
    width: rem(290);
    height: 100%;
    z-index: 99999;
    padding: rem(20);
    transform: translateX(400px);
    transition: 0.4s transform linear;
    visibility: hidden;

    &--open {
      transform: translateX(0);
      transition: 0.4s transform linear;
      visibility: visible;
    }
  }

  &__subitem {
    padding: rem(18) 0;
  }

  &__subparent {
    padding: 0;
    // border-bottom: 1px solid $color-light-border;
  }

  &__subcategory {
    color: $light-grey;
    text-transform: uppercase;


    .drawer__text.button__text,
    .drawer__icon {
      color: $light-grey;
    }

    .drawer__text.button__text {
      color: $light-grey;
      font-size: rem(12);
      padding-left: rem(6);
      line-height: 0;
      padding-top: 0;
      margin: 0;
      vertical-align: super;
      display: inline-block;
    }
  }

  &__sublink {
    color: $white;
    text-transform: uppercase;
  }
}
