.hero {
  min-height: calc(100vh - 32px);
  display: flex;
  flex-direction: column;

  &--top {
    justify-content: flex-start;
  }

  &--v-center {
    justify-content: center;
  }

  &--bottom {
    justify-content: flex-end;
  }

  &--left {
    align-items: flex-start;
  }

  &--h-center {
    align-items: center;
  }

  &--right {
    align-items: flex-end;
  }

  &__inner{
    width: rem(620);
  }
}
